/* screen - chap */

.chap {
  background-color: var(--white);
  background-image: url(../img/gilan-file-tahmasebi-25--3-1400-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1071px;
  position: relative;
  width: 1568px;
}

.rectangle-186 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 590px;
  position: absolute;
  top: 60px;
  width: 200px;
}

.rectangle-187 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 410px;
  position: absolute;
  top: 70px;
  width: 244px;
}

.rectangle-188 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 290px;
  position: absolute;
  top: 75px;
  width: 127px;
}

.rectangle-189 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 150px;
  position: absolute;
  top: 40px;
  width: 188px;
}

.rectangle-190 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 15px;
  position: absolute;
  top: 40px;
  width: 188px;
}

.rectangle-191 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 150px;
  position: absolute;
  top: 80px;
  width: 188px;
}

.rectangle-192 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 10px;
  position: absolute;
  top: 80px;
  width: 188px;
}

.rectangle-193 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  right: 90px;
  position: absolute;
  top: 105px;
  width: 700px;
  direction: rtl;
}

.rectangle-194 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 715px;
  position: absolute;
  top: 200px;
  width: 90px;
}

.rectangle-195 {
  background-color: var(--white);
  border-radius: 10px;
  height: 80px;
  left: 590px;
  position: absolute;
  top: 200px;
  width: 150px;
}

.rectangle-196 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 500px;
  position: absolute;
  top: 200px;
  width: 127px;
}

.rectangle-197 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 390px;
  position: absolute;
  top: 200px;
  width: 127px;
}

.rectangle-198 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 330px;
  position: absolute;
  top: 200px;
  width: 127px;
}

.rectangle-199 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 270px;
  position: absolute;
  top: 200px;
  width: 127px;
}

.rectangle-200 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 200px;
  position: absolute;
  top: 200px;
  width: 127px;
}

.rectangle-201 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 150px;
  position: absolute;
  top: 200px;
  width: 127px;
}

.rectangle-202 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 80px;
  position: absolute;
  top: 200px;
  width: 127px;
}

.rectangle-203 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 5px;
  position: absolute;
  top: 200px;
  width: 127px;
}

.rectangle-204 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 580px;
  position: absolute;
  top: 235px;
  width: 150px;
}

.rectangle-205 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 405px;
  position: absolute;
  top: 235px;
  width: 232px;
}

.rectangle-206 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 180px;
  position: absolute;
  top: 235px;
  width: 333px;
}

.rectangle-207 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 5px;
  position: absolute;
  top: 235px;
  width: 213px;
}

.rectangle-208 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 700px;
  position: absolute;
  top: 315px;
  width: 100px;
}

.rectangle-209 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 580px;
  position: absolute;
  top: 315px;
  width: 213px;
}

.rectangle-210 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 465px;
  position: absolute;
  top: 315px;
  width: 213px;
}

.rectangle-211 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 350px;
  position: absolute;
  width: 213px;
  top: 315px;
}

.rectangle-212 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 240px;
  position: absolute;
  top: 315px;
  width: 213px;
}

.rectangle-213 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 120px;
  position: absolute;
  top: 315px;
  width: 213px;
}

.rectangle-214 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 5px;
  position: absolute;
  top: 315px;
  width: 213px;
}

.rectangle-215 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 680px;
  position: absolute;
  top: 355px;
  width: 77px;
}

.rectangle-216 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 570px;
  position: absolute;
  top: 355px;
  width: 77px;
}

.rectangle-217 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 460px;
  position: absolute;
  top: 355px;
  width: 77px;
}

.rectangle-218 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 345px;
  position: absolute;
  top: 355px;
  width: 77px;
}

.rectangle-219 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 240px;
  position: absolute;
  top: 355px;
  width: 77px;
}

.rectangle-220 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 130px;
  position: absolute;
  top: 355px;
  width: 77px;
}

.rectangle-221 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 15px;
  position: absolute;
  top: 355px;
  width: 77px;
}

.rectangle-222 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 680px;
  position: absolute;
  top: 395px;
  width: 77px;
}

.rectangle-223 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 570px;
  position: absolute;
  top: 395px;
  width: 77px;
}

.rectangle-224 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 460px;
  position: absolute;
  top: 395px;
  width: 77px;
}

.rectangle-225 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 345px;
  position: absolute;
  top: 395px;
  width: 77px;
}

.rectangle-226 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 240px;
  position: absolute;
  top: 395px;
  width: 77px;
}

.rectangle-227 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 130px;
  position: absolute;
  top: 395px;
  width: 77px;
}

.rectangle-228 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 15px;
  position: absolute;
  top: 395px;
  width: 77px;
}

.rectangle-229 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 680px;
  position: absolute;
  top: 440px;
  width: 77px;
}

.rectangle-230 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 560px;
  position: absolute;
  top: 440px;
  width: 77px;
}

.rectangle-231 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 460px;
  position: absolute;
  top: 440px;
  width: 77px;
}

.rectangle-232 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 345px;
  position: absolute;
  top: 440px;
  width: 77px;
}

.rectangle-233 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 240px;
  position: absolute;
  top: 440px;
  width: 77px;
}

.rectangle-234 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 130px;
  position: absolute;
  top: 440px;
  width: 77px;
}

.rectangle-235 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  left: 15px;
  position: absolute;
  top: 440px;
  width: 77px;
}

.rectangle-236 {
  background-color: var(--white);
  border-radius: 10px;
  height: 68px;
  right: 90px;
  position: absolute;
  top: 480px;
  width: 700px;
  direction: rtl;
}

.rectangle-237 {
  background-color: var(--white);
  border-radius: 10px;
  height: 70px;
  right: 90px;
  position: absolute;
  top: 520px;
  width: 700px;
  direction: rtl;
}
